.messages-container {

}

.steps-container {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 40px;
}

.messages {
    list-style-type: none;
    margin: 25px 10px 25px -25px;
}

.message-element {
    margin-bottom: 10px;
}

.tooltip {
    margin-top: 20%;
    text-align: center;
    color: gray;
}