.messages-container {

}

.steps-container {
    margin-top: 40%;
    margin-left: 50px;
    margin-right: 60px;
}

.messages {
    list-style-type: none;
    margin: 25px 5px 20px 10px;
}

.message-element {
    margin-bottom: 10px;
}

.tooltip {
    margin-top: 20%;
    text-align: center;
    color: gray;
}