.chat-panel {
    margin-top: 0%;
}

.chat {
    min-height: 100%;
    background: #fff;
    position: fixed;
    min-width: 50%;
    max-height: 100%;
}

.header {
}

.footer {
    background: transparent;
}

.content {
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1890ff;
}